.header-cart-button{
    box-sizing: border-box;
    display:flex;
    font-size: 1rem;
    background-color: green;
    border: 0px;
    border-radius: 10px;
    padding: 1rem 2rem;
    color: white;
    gap: 1rem;
    align-items: center;
    
}

.header-cart-button:hover{
    filter: brightness(150)
}

.cart-icon{
    color: white;
    background: black;
}

.count{
    background-color: red;
    border-radius: 10px;
    padding: 3px 10px;

}